@use "abstracts/functions";

.c-content-rte {
  > * + * {
    margin-top: 1rem;
  }

  > *:first-child {
    margin-block-start: 0;
  }

  a:not([class^="c-"]) {
    color: var(--turquoise50, #00bebf);
    text-decoration: none;
  }

  ul {
    padding-left: 1em;
    list-style-type: disc;
  }

  ol {
    padding-left: 1em;
    list-style-type: decimal;
  }

  li {
    padding-left: 0.5em;
  }

  h1 {
    margin-block-start: functions.pt-to-em(144pt);
  }

  h2 {
    margin-block-start: functions.pt-to-em(40pt);
  }

  h3,
  h4 {
    margin-block-start: functions.pt-to-em(20pt);
  }

  figcaption {
    font-size: 18px;
    padding-block: 1em 1em;
  }
}
