@use "abstracts/functions";
@use "abstracts/mixins/appearance";
@use "abstracts/mixins/base";

// Base
// --------------------------------------------------------

// Applies a natural box layout model to all the things
*,
*::before,
*::after {
  box-sizing: inherit;
}

// Global
// --------------------------
html {
  // Applies a natural box layout model to all the things
  box-sizing: border-box;

  // Set the base font size here, which will correspond to 1em inside <body>
  font-size: 100%;
  background-color: var(--offWhite, #e9e9e9);
}

body {
  color: var(--neutral80, #404040);
  background-color: #fff9f2;

}

// next.js nests a `div#__next` inside `body`
/* stylelint-disable-next-line selector-max-id */
#__next {
  // ensure page is always at least 100vh tall; `main` expands to fill space
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--neutral08, #ebebeb);
}

main {
  flex-grow: 1;
  background-color: white;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  @include appearance.focus-default;

  color: inherit;
}

button {
  @include appearance.proto-button;
}

svg {
  fill: currentcolor;
}

/* Remove all animations and transitions for people that prefer not to see them */
@include base.reduced-motion {
  /* stylelint-disable declaration-no-important  */
  * {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
