@use "abstracts/variables";
@use "abstracts/functions";
@use "abstracts/mixins/base";
@use "abstracts/mixins/typography";

// Typography
// --------------------------------------------------------
html {
  @include typography.type-scale(
    variables.$font-size-base-desktop,
    variables.$font-size-base-mobile
  );
}

body {
  font-family: var(--FONT_STACK_BASE);
  font-size: 1em;
  line-height: var(--LINE_HEIGHT_BASE);
}

h1 {
  @include typography.heading-primary;
}

h2 {
  @include typography.heading-secondary;
}

h3 {
  @include typography.heading-tertiary;
}

h4 {
  @include typography.heading-quaternary;
}

p {
  margin: 0;
}

ul {
  @include typography.list-unstyled;
}

ol {
  @include typography.list-unstyled;
}

// Inline elements
// --------------------------
