@use "sass:color";
@use "sass:map";

// Variables
// ----------

// Responsive breakpoints
// --------------------------------------------------------
$breakpoints: (
  desktop: 1280px,
  tablet: 850px,
  mobile: 446px,
);

// Measurements
// --------------------------------------------------------
$container-widths: (
  max: 2560px,
  full: 1920px,
  wide: 1435px,
  regular: 1160px,
  narrow: 900px,
);
$padding-sizes: (
  large: 100px,
  medium: 40px,
  small: 20px,
);
$z-stack: (
  header: 25,
);

// Typography
// --------------------------------------------------------
$font-size-base-desktop: 22px;
$font-size-base-mobile: 16px;
